{
  "extends": [
    "eslint:recommended",
    "oclif",
    "oclif-typescript",
    "prettier"
  ],
  "env": {
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "rules": {
    "unicorn/prefer-node-protocol": "off"
  }
}
